*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 550px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.meals{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    padding: 10% 0;
    background: yellow;
    justify-content: space-around;
}

.box{
    width: 50%;
    padding: 0 0 0 80px;
    background: red;
    position: relative;
}
.tovar{
    height: 200px;
    width: 200px;
}
#korzina{
    position: relative;
}
.box img{

}


